# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bin
*.pickle
backend/rag_chat/__pycache__
backend/chat/__pycache__
backend/chat/migrations/__pycache__
backend/rag_chat/__pycache__
backend/chat/__pycache__
backend/chat/services/__pycache__
backend/chat/migrations/__pycache__
backend/chroma_db/*
!backend/chroma_db/chroma.sqlite3
backend/venv
backend/rag_chat/__pycache__
backend/rag_chat/__pycache__/* 
