@use 'sass:map';
@use '../abstracts/variables' as vars;

[data-theme='dark'] {
  // Variables communes pour réutilisation
  $accent: map.get(map.get(vars.$colors, 'dark'), 'accent');
  $accent-hover: map.get(map.get(vars.$colors, 'dark'), 'accent-hover');
  $bg-primary: map.get(map.get(vars.$colors, 'dark'), 'bg-primary');
  $bg-secondary: map.get(map.get(vars.$colors, 'dark'), 'bg-secondary');
  $text-primary: map.get(map.get(vars.$colors, 'dark'), 'text-primary');
  $text-secondary: map.get(map.get(vars.$colors, 'dark'), 'text-secondary');
  $border: map.get(map.get(vars.$colors, 'dark'), 'border');

  .document-item {
    border-bottom: 1px solid map.get(map.get(vars.$colors, 'dark'), 'border') !important;
  }
  // ... le reste du code
}
