@use 'sass:map';
@use '../abstracts/variables' as vars;

[data-theme='dark'] {
  background-color: map.get(map.get(vars.$colors, 'dark'), 'bg-primary') !important;
  color: map.get(map.get(vars.$colors, 'dark'), 'text-primary') !important;

  .site-title {
    color: map.get(map.get(vars.$colors, 'dark'), 'text-primary') !important;
  }

  .ant-layout {
    background-color: map.get(map.get(vars.$colors, 'dark'), 'bg-tertiary') !important;
  }

  .ant-layout-header {
    background-color: map.get(map.get(vars.$colors, 'dark'), 'bg-primary') !important;
    box-shadow: map.get(map.get(vars.$shadows, 'dark'), 'sm') !important;
    z-index: map.get(vars.$z-layers, 'header') !important;
  }

  .ant-menu {
    &-item {
      color: map.get(map.get(vars.$colors, 'dark'), 'text-primary') !important;
      &-selected::after {
        border-bottom-color: map.get(map.get(vars.$colors, 'dark'), 'accent') !important;
      }
    }
    &-item:hover::after{
      border-bottom-color: map.get(map.get(vars.$colors, 'dark'), 'accent') !important;
    }
  }
}