@use 'sass:map';
@use '../abstracts/variables' as vars;

[data-theme='dark'] {
  // Variables communes pour réutilisation
  $bg-primary: map.get(map.get(vars.$colors, 'dark'), 'bg-primary');
  $bg-secondary: map.get(map.get(vars.$colors, 'dark'), 'bg-secondary');
  $text-primary: map.get(map.get(vars.$colors, 'dark'), 'text-primary');
  $text-secondary: map.get(map.get(vars.$colors, 'dark'), 'text-secondary');
  $border: map.get(map.get(vars.$colors, 'dark'), 'border');
  $accent: map.get(map.get(vars.$colors, 'dark'), 'accent');
  $accent-hover: map.get(map.get(vars.$colors, 'dark'), 'accent-hover');

  
  .container-model-sidebar{
    background-color:$bg-primary;
    border-left: 1px solid $border;
  }

  .container-list-model>label{
    color: $accent;
  }

  :where(.css-dev-only-do-not-override-1hpnbz2).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
    border-color : $border;
    color: $text-primary;
  }
  .ant-select-selector{
    background-color: #333333;
  }
}