@use 'sass:map';
@use '../abstracts/variables' as vars;

// Pour le toggle du thème
.theme-toggle {
  // Variables communes pour réutilisation
  $bg-secondary-light: map.get(map.get(vars.$colors, 'light'), 'bg-secondary');
  $bg-secondary-dark: map.get(map.get(vars.$colors, 'dark'), 'bg-secondary');
  $toggle-size: map.get(vars.$sizes, 'toggle');

  // Styles de base
  position: relative;
  width: calc($toggle-size * 2);
  height: $toggle-size;
  border-radius: calc($toggle-size / 2);
  cursor: pointer;
  transition: map.get(vars.$transitions, 'toggle');
  background: linear-gradient(
    to right,
    $bg-secondary-light 50%,
    $bg-secondary-dark 50%
  );
  background-size: 200% 100%;
  background-position: 0;

  // Pour le cercle du toggle
  &::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc($toggle-size - 2px);
    height: calc($toggle-size - 2px);
    border-radius: 50%;
    background: linear-gradient(
      to right,
      $bg-secondary-light 50%,
      $bg-secondary-dark 50%
    );
    background-size: 200% 100%;
    background-position: 0;
    transition: map.get(vars.$transitions, 'toggle');
  }

  // État actif (thème sombre)
  &.active {
    background-position: -100%;

    &::after {
      transform: translateX($toggle-size);
      background-position: -100%;
    }
  }
}