@use 'sass:map';
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

:root {
    @include mix.theme('light') {
      background-color: map.get(map.get(vars.$colors, 'light'), 'bg-primary');
      color: map.get(map.get(vars.$colors, 'light'), 'text-primary');
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    box-sizing: border-box;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    
    &:focus {
      outline: none;
    }
  }
  
  // Reset Ant Design spécifique
  .ant-layout,
  .ant-menu {
    background: none;
  }