@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-layout {
  background-color: #f0f2f5;
}

.container-sidebar .ant-menu-item:hover .chat-actions {
  opacity: 1;
}

.container-sidebar .chat-actions {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: relative; /* Add this */
}

.ant-popconfirm {
  z-index: 1100;
}

.container-sidebar .ant-popover {
  z-index: 1100;
}